<!DOCTYPE HTML>
<html>
<head>
    <title>Ricky</title>
    <!--css-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/constant.js"></script>
    <!--search jQuery-->
    <script src="js/main.js"></script>
    <!--search jQuery-->

    <!--mycart-->
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <!-- cart -->
    <script src="js/simpleCart.min.js"></script>
    <!-- cart -->

</head>
<body>
<!--header-->
<div class="header">
</div>
<!--header-->
<!--banner-->
<div class="banner1">
    <div class="container">
        <h3><a href="index.html">Home</a> / <span>About us</span></h3>
    </div>
</div>
<!--banner-->
<!--content-->
<div class="content">
    <!--contact-->
    <div class="mail-w3ls">
        <div class="container">
            <h2 class="tittle">About Us</h2>
            <div class="mail-grids">
                <div class="mail-top">
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <h5>Address</h5>
                        <p>Otago Polytechnic Auckland International Campus</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        <h5>Phone</h5>
                        <p>Telephone: +022 666 6666</p>
                    </div>
                    <div class="col-md-4 mail-grid">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        <h5>E-mail</h5>
                        <p>E-mail:<a href="mailto:xuj22@student.op.ac.nz"> xuj22@student.op.ac.nz</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="map-w3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.6024257537993!2d174.76180077680723!3d-36.85199667968833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47e50c4db6e7%3A0x5fb1dad14ec7b0e3!2sOtago%20Polytechnic%20Auckland%20International%20Campus!5e0!3m2!1szh-CN!2snz!4v1686217421938!5m2!1szh-CN!2snz"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--contact-->
</div>
<!--content-->
<!---footer--->
<div class="footer-w3l">
</div>
<!---footer--->
<!--copy-->
<div class="copy-section">
</div>
<!--copy-->

<script>
    $(function () {
        $(".header").load("header.html");
        $(".footer-w3l").load("footer.html");
        $(".copy-section").load("section.html");
    });
</script>
</body>
</html>